{% load static%}
        <!-- Back-to-top -->
        <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

        <!-- Jquery js-->
        <script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

        <!-- Bootstrap js-->
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

        <!-- Ionicons js-->
        <script src="{% static 'assets/plugins/ionicons/ionicons.js'%}"></script>

        <!-- Moment js -->
        <script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

        <!-- P-scroll js -->
        <script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
        <script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js'%}"></script>

        <!-- Rating js-->
        <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js'%}"></script>
        <script src="{% static 'assets/plugins/rating/jquery.barrating.js'%}"></script>

        <!-- Horizontalmenu js-->
	<script src="{% static 'assets/plugins/horizontal-menu/horizontal-menu-2/horizontal-menu.js'%}"></script>

        <!-- Sticky js -->
        <script src="{% static 'assets/js/sticky.js'%}"></script>

        <!-- Right-sidebar js -->
        <script src="{% static 'assets/plugins/sidebar/sidebar.js'%}"></script>
        <script src="{% static 'assets/plugins/sidebar/sidebar-custom.js'%}"></script>

        <!-- eva-icons js -->
        <script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

        <!-- custom js -->
        <script src="{% static 'assets/js/custom.js'%}"></script>