
{% extends 'components/versions/vertical/light.html' %}
{% comment %} {% extends 'components/versions/vertical/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/vertical/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/vertical/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/horizontal/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/horizontal/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/horizontal/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/horizontal/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/centerlogo/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/centerlogo/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/centerlogo/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/centerlogo/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/icontext/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/icontext/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/icontext/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/icontext/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/vertical-closed/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/vertical-closed/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/vertical-closed/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/vertical-closed/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/hoversubmenu/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu/dark-boxed.html' %} {% endcomment %}

{% comment %} {% extends 'components/versions/hoversubmenu-style/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu-style/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu-style/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/hoversubmenu-style/dark-boxed.html' %} {% endcomment %}


{% comment %} {% extends 'components/versions/iconoverley/light.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/iconoverley/dark.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/iconoverley/light-boxed.html' %} {% endcomment %}
{% comment %} {% extends 'components/versions/iconoverley/dark-boxed.html' %} {% endcomment %}
