{% load static%}
            <!-- main-sidebar -->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar sidebar-scroll">
                <div class="main-sidebar-header active">
                    <a class="desktop-logo logo-light active" href="index"><img src="{% static ''%}assets/img/logo.jpg" class="main-logo ht-100" alt="logo"></a>
                </div>
                <div class="main-sidemenu">
                    <div class="app-sidebar__user clearfix">
                        <div class="dropdown user-pro-body">
                            
                            <div class="user-info">
                                <h4 class="font-weight-semibold mt-3 mb-0"></h4>
                                <span class="mb-0 text-muted"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="side-menu">
                        <li class="side-item side-item-category">CATALOGOS</li>
                        <li class="slide">
                            <a href="/viajes/catalogo/tipo_unidad" class="btn btn-primary">TIPO DE UNIDAD</a>
                        </li>
                        <li class="slide">
                            <a href="/logout" class="btn btn-primary">LOGOUT</a>
                        </li>
                    </ul>
                    
                </div>
            </aside>
            <!-- main-sidebar -->