
{% extends 'components/base.html' %}
{% load static%}

		{% block styles %}
		<!-- Internal Data table css -->
		<link href="{%static '' %}assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="{%static '' %}assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
		<link href="{%static '' %}assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
		<link href="{%static '' %}assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
		<link href="{%static '' %}assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
	    <link href="{%static '' %}assets/plugins/datatable/css/fixedHeader.dataTables.min.css" rel="stylesheet">
		<link href="{%static '' %}assets/plugins/select2/css/select2.min.css" rel="stylesheet">
		
		{% endblock styles %}

					{% block body %}
					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div class="my-auto">
							<div class="d-flex">
								<h2>EMPRESA : METSO OUTOTEC PERÚ S.A.</h2>
							</div>
						</div>
						
					</div>
					<!-- breadcrumb -->

					<!-- row -->
					<div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
						<div class="card">
							<div class="card-body" >
								<div class="main-content-label mg-b-5">
									DELIVERY VIAJE : {{tracking.glosa1}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12">
							<div class="card mg-b-20">
								<div class="card-header pb-0">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mg-b-0">Imagenes adjuntas al viaje</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										{%for adjunto in adjuntos %}
										<div class="col-6 col-md-3">
											<a href="{{adjunto.url}}" target="_blank"><img alt="Responsive image" class="img-thumbnail" src="{{adjunto.url}}"></a>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endblock body %}
					
		{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.0.1/exceljs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
		<script src="{%static '' %}assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>
		<!-- Internal Data tables -->
		<script src="{%static '' %}assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/jquery.dataTables.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/jszip.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/pdfmake.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/vfs_fonts.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/buttons.html5.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/buttons.print.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/buttons.colVis.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>
		<script src="{%static '' %}assets/plugins/datatable/js/dataTables.fixedHeader.min.js"></script>

		<!--Internal  Datatable js -->
		<script src="{%static '' %}assets/js/table-data.js"></script>
		<script>
			var card1 = document.getElementById('filtro1');
			//var card2 = document.getElementById('filtro2');
			//var card3 = document.getElementById('filtro3');
			card1.style.display = 'none';
			//card2.style.display = 'none';
			//card3.style.display = 'none';

			$( function() {
			  $( "#datepicker" ).datepicker();
			} );
		</script>
		<script>
			function toggleCard(cardId) {
				var card = document.getElementById(cardId);
				if (card.style.display === 'none' || card.style.display === '') {
					card.style.display = 'block';
				} else {
					card.style.display = 'none';
				}
			}

			function exportarExcel() {
				// Obtener la tabla
				var tabla = document.getElementById('example');

				// Crear un objeto de trabajo de Excel
				var libroExcel = new ExcelJS.Workbook();
				var hojaExcel = libroExcel.addWorksheet('Hoja 1');

				// Recorrer las filas y celdas de la tabla y agregar a Excel
				var filasTabla = tabla.rows;
				for (var i = 0; i < filasTabla.length; i++) {
					var celdas = filasTabla[i].cells;
					var filaExcel = hojaExcel.getRow(i + 1);

					for (var j = 0; j < celdas.length; j++) {
					filaExcel.getCell(j + 1).value = celdas[j].innerText;
					}
				}

				// Descargar el archivo Excel
				libroExcel.xlsx.writeBuffer().then(function (data) {
					var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
					saveAs(blob, 'tabla_excel.xlsx');
				});
			}


		</script>
		{% endblock scripts %}
